html {
	min-width: 320px;
}
html.html-modal {
	height: 100% !important;
	width: 100%;
	overflow: hidden;
}
html.html-modal-long {
	height: auto !important;
}
body {
	font-family: $font-first;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: $color-black;
	text-align: left;
	width: 100%;
	height: 100%;
}
a {
	color: $color-black;
	text-decoration: underline;
	-webkit-tap-highlight-color: transparent;
}
h1,
.h1{
	font-family: $font-first;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 25px;
	cursor: default;

	@media (min-width: $adaptive-width-tablet) {
		font-size: 36px;
	}
}
h2,
.h2{
	font-family: $font-first;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	margin-bottom: 25px;
	cursor: default;

	@media (min-width: $adaptive-width-tablet) {
		font-size: 24px;
	}
}
h3,
.h3{
	font-family: $font-first;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.37;
	margin-bottom: 12px;
	cursor: default;

	@media (min-width: $adaptive-width-tablet) {
		font-size: 18px;
		line-height: 1.22;
	}
}
h4,
.h4{
	font-family: $font-first;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.14;
	margin-bottom: 15px;
	cursor: default;
}
h5,
.h5{
	font-family: $font-first;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.14;
	margin-bottom: 15px;
	cursor: default;
}
h6,
.h6{
	font-family: $font-first;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.14;
	margin-bottom: 15px;
	cursor: default;
}
p{
	margin-bottom: 25px;
}
ol, ul{
	list-style: none;
}
input[type='text'],
input[type='date'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'] {
	font-family: $font-first;
	font-size: 16px;
	line-height: 1;
	padding: 15px 16px;
	box-sizing: border-box;
	border: 0;
	background-color: #fff;
	color: #000;
	@include radius(8px);
	@include transition(all, 450ms);

	&::-webkit-input-placeholder { color: #828282; }
	&::-moz-placeholder { color: #828282; }
	&:-moz-placeholder { color: #828282; }
	&:-ms-input-placeholder { color: #828282; }

	&:hover {
		@include transition(all, 450ms);
	}

	&:focus {
        @include transition(all, 450ms);
    }

	&.attempted:invalid,
	&.invalid,
	&.err {
		@include transition(all, 450ms);
	}
}

textarea {
	font-family: $font-first;
	font-size: 16px;
	line-height: 1.14;
	padding: 19px 16px;
	box-sizing: border-box;
	border: 0;
	color: #000;
	background-color: #fff;
	overflow: auto;
	@include radius(8px);
	@include transition(all, 450ms);

	&::-webkit-input-placeholder { color: #828282; }
	&::-moz-placeholder { color: #828282; }
	&:-moz-placeholder { color: #828282; }
	&:-ms-input-placeholder { color: #828282; }

	&:hover {
		@include transition(all, 450ms);
	}

	&:focus {
        @include transition(all, 450ms);
    }

	&.attempted:invalid,
	&.invalid,
	&.err {
		@include transition(all, 450ms);
	}

	&.js-autoheight {
		resize: none;
		overflow: hidden;
	}
}

.input {
	position: relative;

	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='password'],
	input[type='number'] {
		width: 100%;
		margin-bottom: 0;
	}

	textarea {
		width: 100%;
		margin-bottom: 0;
	}

	i {
		overflow: hidden;
		position: absolute;
		color: $color-grey;
		cursor: default;
		top: 10px;
		left: 16px;
		font-size: 11px;
		line-height: 1;
		opacity: 0;
		@include transition(all, 450ms);
	}

	&.focused {
		i {
			opacity: 1;
			@include transition(all, 450ms);
		}

		input[type='text'],
		input[type='tel'],
		input[type='email'],
		input[type='password'],
		input[type='number'] {
			padding-top: 24px;
		}

		textarea {
			padding-top: 24px;
		}
	}

	.error {
		display: none;
		padding-top: 4px;
		font-size: 11px;
		color: #EA525B;
	}

	&.pswd {
		& > .toggler {
			position: absolute;
			top: 0;
			right: 0;
			width: 43px;
			height: 100%;
			background: url('../images/ico_pswd_hidden.svg') no-repeat center;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
		}

		&.shown {
			& > .toggler {
				background-image: url('../images/ico_pswd.svg');
			}
		}
	}
}

table{
	border-collapse: collapse;
	border: 0;
}
th{
	text-align: left;
	font-weight: 400;
	border: 0; 
}
td{
	text-align: left;
	border: 0;
}
.holder {
	max-width: $adaptive-width-desktop-wide;
	margin: 0 auto;
	padding: 0 $padding-edges-mobile;
	box-sizing: border-box;

	@media (min-width: $adaptive-width-tablet) {
		padding: 0 $padding-edges-tablet;
	}

	@media (min-width: $adaptive-width-desktop) {
		padding: 0 $padding-edges-desktop;
	}
}
%pos-edges-left {
	left: $padding-edges-mobile;

	@media (min-width: $adaptive-width-tablet) {
		left: $padding-edges-tablet;
	}

	@media (min-width: $adaptive-width-desktop) {
		left: $padding-edges-desktop;
	}
}
%pos-edges-right {
	right: $padding-edges-mobile;

	@media (min-width: $adaptive-width-tablet) {
		right: $padding-edges-tablet;
	}

	@media (min-width: $adaptive-width-desktop) {
		right: $padding-edges-desktop;
	}
}
%padding-edges {
	padding-left: $padding-edges-mobile;
	padding-right: $padding-edges-mobile;

	@media (min-width: $adaptive-width-tablet) {
		padding-left: $padding-edges-tablet;
		padding-right: $padding-edges-tablet;
	}

	@media (min-width: $adaptive-width-desktop) {
		padding-left: $padding-edges-desktop;
		padding-right: $padding-edges-desktop;
	}
}

.hidden {
	display: none;
}
.wrap {
	position: relative;
}
blockquote, q{
	quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after{
	content: '';
	content: none;
}
b,
strong{
	font-weight: 700;
}
.dashed{
	cursor: pointer;
	border-bottom: 1px dashed;
}
.dotted{
	cursor: pointer;
	border-bottom: 1px dotted;
}
a.dashed{
	text-decoration: none;
	border-bottom: 1px dashed;
}
a.dotted{
	text-decoration: none;
	border-bottom: 1px dotted;
}
.clear-l {
	clear: left;
	font-size: 0;
	height: 1px;
	overflow: hidden;
	display: block;
}
.clear-r {
	clear: right;
	font-size: 0;
	height: 1px;
	overflow: hidden;
}
.clear-a {
	clear: both;
	font-size: 0;
	height: 1px;
	overflow: hidden;
}
svg.donut {
	width: 35px;
	height: 35px;

	@media (min-width: $adaptive-width-tablet) {
		width: 43px;
		height: 43px;
	}

	.donut-hole {
		fill: transparent;
	}

	.donut-ring {
		fill: transparent;
		stroke: $color-grey-lines;
		stroke-width: 11px;
	}

	.donut-segment {
		fill: transparent;
		stroke: $color-primary;
		stroke-width: 11px;
	}
}
.btn {
	background-color: $color-button;
	color: $color-button-text;
	padding: 17px 28px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	border: 0;
	text-decoration: none;
	cursor: pointer;
	font-family: $font-first;
	@include radius(100px);
	@extend .transition-all;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		background-color: $color-button-hover;
		color: $color-button-text-hover;
		outline: 0;
		@extend .transition-all;
	}

	&:active {
		background-color: $color-button-active;	
		color: $color-button-text-active;
		@extend .transition-all;
	}

	&[disabled] {
		background-color: $color-button-disabled;
		color: $color-button-text-disabled;
		@extend .transition-all;
		cursor: default;

		&:hover {
			background-color: $color-button-disabled;
			color: $color-button-text-disabled;
		}

		&:active {
			background-color: $color-button-disabled;
			color: $color-button-text-disabled;
		}
	}

	&.type2 {
		font-weight: 400;
		background-color: $color-button2;
		color: $color-button2-text;
		border: 1px solid $color-primary;

		&:hover {
			background-color: $color-button2-hover;
			color: $color-button2-text-hover;
		}

		&:active {
			background-color: $color-button2-active;	
			color: $color-button2-text-active;
		}

		&[disabled] {
			background-color: $color-button2-disabled;
			color: $color-button2-text-disabled;

			&:hover {
				background-color: $color-button2-disabled;
				color: $color-button2-text-disabled;
			}

			&:active {
				background-color: $color-button2-disabled;
				color: $color-button2-text-disabled;
			}
		}
	}
}
.slick-dots {
	text-align: center !important;
	border: 0;
	margin: 0 !important;
	padding: 0;
	height: auto !important;
	white-space: normal !important;
	flex: 0 0 auto !important;
	display: block !important;

	&>li {
		display: inline-block !important;
		width: 10px !important;
		height: 10px !important;
		padding: 8px !important;
		border: 0 !important;
		position: relative;
		margin: 0 0 0 1px !important;
		min-height: 0;
		box-sizing: content-box;
		cursor: pointer;
		opacity: 0.2;
		background: none !important;
		min-height: 0 !important;
		box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
		flex: 0 0 auto !important;
		@extend .transition-opacity;

		&:first-child {
			margin-left: 0 !important;
			padding-left: 8px !important;
		}

		&:last-child{
			padding-right: 8px !important;
		}

		&:before,
		&:after {
			display: none !important;
		}

		&:hover {
			opacity: 0.5;
			@extend .transition-opacity;
		}

		&.slick-active {
			opacity: 1;
			@extend .transition-opacity;

			&>button {
				background-color: #206CDE;
			}
		}

		&>button {
			content: '';
			display: block;
			position: absolute;
			top: 7px;
			left: 7px;
			width: 10px;
			height: 10px;
			padding: 0;
			@include radius(10px);
			background: #206CDE;
			font-size: 0;
			border: 0; 
			cursor: pointer;
		}
	}
}